/*--------------------------home-----------------------*/

body{
    font-size: 10px;
    background: #ffffff !important;
}
.mydropdown {
    padding-left: 185px;
}
.name_color{
    color:#00CCFF;
}

.background_grey{
    background: #f4f4f4;
}

.right_border{
    border-right: 1px solid #dddddd;
}
.bottom_border{
    border-bottom: 1px solid #dddddd !important;
}

#select_map{
    margin-top: 15px;
}
.mypanel{
    margin-bottom: -13px!important;
}

.map_home{
    width: 100%;
    height: 530px !important;
    /*background-color: #CCC;*/
    /*border: solid 1px #0044cc;*/
    box-shadow: gray 0px 0px 1px;
}
.myrow{
    padding-left: 20px;
    padding-right: 0px;
}
.leftpanel
{
    margin-top: -8px;
}
.mappanel
{
    margin-top: -7px;
    height: auto;
}
.navbar
{
    background-color: #003366; !important;
}
.latBoxHeight-34
{
    height: 34px !important;
}
.dtWidth202
{
    width: 49% !important;
}
#map
{
    height: 50%;
}

.afterMenuText {
    padding-top: 8px;
    padding-left: 20px
}
.afterMenuText>a{
    color: white;
}
.afterMenuText>a:hover{
    color: darkgray;
    text-decoration: none;
}

label
{
    font-size: 12px;
}

.table_row_hover:hover{

    background: #e2e2e2;
    cursor: pointer;
}

.table_row_active{

    background: #B3D1FF !important;
}

.table_row_geofence_hover:hover{

    background:#B3D1FF;
    cursor: pointer;
}
.editShow{

    cursor: pointer;
    height:40px;
    width: 40px;
    color: #0066cc;
}

.ommandSection
{
    position: relative;
    top: 19px;
}

.setting-table
{
    font-size: 13px;
    color: #003366;
}
.setting-table-heading
{
    font-size: 12px;
    color: #003366;
}
.bingmappanel
{
    width: 995px;
    border: 1px solid gray;
    margin-left: 15px;
    margin-top: -8px;
    height: 530px;
    /*height: auto;*/
}
.command-window-panel
{
    margin-top: -20px;
}
.checkpoints
{
    margin-top: -6px;
}
.history
{
    margin-top: -15px;
}
.container-fluid
{
    height: auto;
}