footer {
    height: 310px;
    cursor: pointer;
    position: absolute;
    left: 0;
    z-index: 1000;
    right: 0;
    bottom: 0;
    max-height: 0px;
    /*height: auto;*/
    background-color: #ffffff;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}

.fTab {

    width: 100%;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    left: 0;
    z-index: 1000;
    bottom: 0;
    padding: 1em;
    background-color: #3598dc;

    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
}

.fTab.active {

    color: #3598dc;
    bottom: 265px;
    z-index: 10000;
    width: 7%;
    background-color: transparent;
}

.fTab.active + footer {

    max-height: 410px;

}

.ftabCaption {
    color: white;
    position: fixed;

}

#historyTable {

    max-height: 410px !important;
}

thead tr th {
    height: 30px;
    width: 15%;

    font-weight: 100 !important;
    line-height: 30px;
    /* text-align: left; */
}

tbody tr th {
    height: 30px;
    width: 15%;

    line-height: 30px;
    /* text-align: left; */
}

/*tbody { border-top: 2px solid #2154a9; }*/

tbody td, thead th {
    width: 16.2%;
    /*border-right: 1px solid #2154a9;*/
    /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}

/*profile css start*/
.profile-image_radius {
    border-radius: 10px 100px;
}

.profile-caption-height {
    height: 40px;
!important;
    margin-top: 0px;
!important;
}

.profile-upload-image-section {
    background-color: transparent;
    margin-top: -24px;
    position: sticky;
    z-index: 100;
    cursor: pointer;
    margin-left: 3px;
}

.profile-upload-image-section:hover {
    background-color: #32C5D2;
    color: #ffffff;
}

.profile-page-box-shadow {
    box-shadow: 0px 11px 0px #32c5d2;
    font-size: xx-small;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 4px 4px !important;
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 500 !important;
    font-weight: bold !important;
    font-size: 14px !important;
}

/*profile css end*/

.map-height {
    /*margin-bottom: 0;*/
    /*margin-left: 150px;*/
    /*margin-right: 0;*/
    /*margin-top: 0;*/
    height: 405px;
}

.and-splitter {
    margin-left: -150px;
    margin-top: 5px;
}

.or-splitter {
    margin-left: -14px;
    margin-top: 41px;
}

.set-tab3 {
    margin-left: 60px;
}

.all-td {
    width: 25px;
}

.srl-number {
    width: 5px;
}

.onyx {
    color: red;

}

.onyx-logo:hover {
    text-decoration: none;
    color: #3598DC;
}

.all-td-vehicle {
    width: 90px !important;;
}

.slide-content {
    /*margin-left: 105px;*/
    margin-top: -26px!important;
    margin-left: 75px;
}


.portlet {
    background-color: white !important;
}

.actions {
    position: relative;
    top: 0px;
}

.seprate {
    bottom: 10px;
    position: relative;
}

.input-large {
    width: 200px !important;
}

.from-to {
    margin-right: -22px;
    margin-top: 4px;
}

.to-from {
    left: -20px;
    margin-right: -52px;
    margin-top: 5px;
    position: relative;
}

/*.slide-content > .col-md-4*/
/*{*/
/*/!*margin-right: -51px;*!/*/
/*}*/
.from-div {
    margin-left: -15px;
}

.to-div {
    margin-left: 12px;
}

.fix_width {
    width: 356px !important;
}

.time-start {
    /*position: relative;*/
    /*z-index: 5;*/
}

.time-end {
    /*left: 66px;*/
    /*position: relative;*/
}

.port-size {
    /*bottom: 40px;*/
    /*position: relative;*/
    /*right: 16px;*/
    /*width: 1362px;*/
}

.input-medium {
    width: 140px !important;
}
.from-history {
    position: relative;
    right: 27px;
}
.from-history {
    position: relative;
    right: 27px;
}

.to-history {
    position: relative;
    right: 27px;
}

.from-view-history {
    left: 30px;
    position: relative;
}

.to-view-history {
    left: 2px;
    position: relative;
}

.to-end-history {
    left: 30px;
    position: relative;
}

.show-history-btn {
    float: right;
    left: 12px;
    position: relative;
    top: 20px;
}

.from-date-history {
    position: relative;
    right: 20px;
}

.to-coulumn {
    position: relative;
    top: 10px;
}
/* View History End*/
.fff > a {
    left: 5px;
    position: relative;
    top: 36px;
}

.home-icon {
    margin-top: -1px !important;
}

.date-width {
    /*width: 130px !important;*/
}

.time-width {
    min-width: 110px !important;
}
.show-up {
    z-index: 1;
    position: relative;
}

.to-map {
    margin-left: -32px !important;
}

.from-map {
    margin-left: -28px !important;
}
.select-vehicle
{
    margin-left: -12px!important;
}
.show-map-footer {
    margin-left: -72px!important;
}

.date-icon-size {
    height: 30px;
}

.showHistory {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: gray;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: gray;
    border-left-style: groove;
    border-left-width: 1px;
    border-right-color: gray;
    border-right-style: groove;
    border-right-width: 1px;
    border-top-color: gray;
    border-top-style: groove;
    border-top-width: 1px;
    height: 28px;
    padding-top: 3px;
    position: relative;
    right: 10px;
    top: 2px;
    color: #6A838A;
}

.ulhover {
    background-color: yellow !important;
    color: #ffffff;

}

.ulhover:hover {
    background-color: red;
    margin: 0 0 0 -17px;
    float: left;
}

.hor-menu:hover {
    /*background-color: red !important;*/
}

.hor-menu {
    /*background-color: red !important;*/
}



/*home page*/
.tiles
{
    /*margin-bottom: 12px !important;*/
    margin-right: -10px!important;
}
.page-content-inner {
    width: 102%!important;
}
.watch-icon {
    margin-top: 8px !important;
}
.light-body {
    position: absolute;
    z-index: -2;
    /*top: 21px;*/
}